body{
  background-image: url(../images/ims.jpg);
  background-size: cover;
  background-color: grey;
}
.paragraph{
  font-size: 20px;
  font-family: 'Roboto Mono', monospace;
  margin-left: 10px;
}
h1{
  font-size: 40px;
  text-align: center;
}
.site{
  font-size: 30px;
}
a{
  text-decoration: none;
}
li{
  color: #800080;
  font-style: oblique;
  font-size: 20px;
}
img{
  height: 250px;
  width: 620px;
}
input{
  padding: 10px;
  width: 200px;
  outline: none;
}
input{
  margin: 10px;
}
textarea{
  margin: 10px;
}
navbar{
  font-size: 20px;
  padding-right: 280px;
  padding-top: 100px;
}
.navbar a{
  font-size: 30px;
  text-decoration: none;
}
